:root {
    --accent-color: #a0a3a5;
    --search-color-background: #dde0e4;
    --urgent-color: #f05848;
    --important-color: #ffd14f;
    --low-priority-color: #665c9c;
    --done-color: #4b7944;
    --select-color-background: #000;
    --inbox-color: #3e9ef8;
    --select-color-font: #fff;
    --header-color-background: #fcfaf8;
}

body {
    min-height: 100dvh;
    display: grid;
    overflow: hidden;
    grid-template-areas:
        "header content"
        "header content"
        "header content";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 3fr;
    font-family: 'Comic Neue', sans-serif;

    & header {
        grid-area: header;
        max-width: 25dvw;
        display: grid;
        align-content: space-between;
        background-color: var(--header-color-background);
    }

    & #content {
        grid-area: content;
        max-width: 80dvw;
    }
}

.nav__container {
    position: relative;
    display: grid;
    padding: 1em 0.8em;
    gap: 32px;

    & ul {
        list-style: none;
        font-size: 1.2rem;
        padding-left: 10px;
        display: grid;
        gap: 8px;
    }
    
    & ul:not(.main) {
        border-bottom: 1px solid var(--accent-color);
        padding-bottom: 1em;
    }

    & .header__title {
        padding-left: 20px;
    }

}

.main {
    display: grid;
    gap: 16px;

    & li {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
    }

    & .inbox:not(.selected) span {
        color: var(--inbox-color);
    }

    & .today:not(.selected) span {
        color: var(--low-priority-color);
    }

    & .upcoming:not(.selected) span {
        color: var(--important-color);
    }

    & .checklist:not(.selected) span {
        color: var(--done-color);
    }

}

.project {

    & input {
        display: none;
    }

    &:has(input:not(:checked))>*:not(label, .project__title) {
        display: none;
    }

    &:has(input:checked)> :not(label, .project__title) {
        cursor: pointer;
    }

    &:has(input:checked) li::before {
        content: '#';
        margin-right: 12px;
    }

    & .project__title {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        padding: 0 0.2em;
    }

    & .add__project {
        display: flex;
        align-items: center;
        gap: 5px;
        border: none;
        background-color: transparent;
        justify-self: end;
        grid-row: 2 / 3;
    }

}

