:root {
    --accent-color: #a0a3a5;
    --search-color-background: #dde0e4;
    --urgent-color: #f05848;
    --important-color: #ffd14f;
    --low-priority-color: #665c9c;
    --done-color: #4b7944;
    --select-color-background: #000;
    --inbox-color: #3e9ef8;
    --select-color-font: #fff;
    --header-color-background: #fcfaf8;
}

body {
    min-height: 100dvh;
    display: grid;
    overflow: hidden;
    grid-template-areas:
        "header content"
        "header content"
        "header content";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 3fr;
    font-family: 'Comic Neue', sans-serif;

    & header {
        grid-area: header;
        max-width: 25dvw;
        display: grid;
        align-content: space-between;
        background-color: var(--header-color-background);
    }

    & #content {
        grid-area: content;
        max-width: 80dvw;
    }
}

